.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    &-img {
        width: 148px;
        height: 36px;
    }
    &-list {
        width: 451px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-item {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #4f5665;
    }
    &-login {
        width: 233px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--sign-in {
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
            color: #0b132a;
        }
        &--sign-up {
            width: 150px;
            height: 45px;
            border: 1px solid #f53855;
            border-radius: 50px;
        }
    }
}
