.introduce-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px 0;
    position: relative;
    &-content {
        width: 530px;
        margin-right: 40px;
    }
    &-heading {
        margin-bottom: 20px;
    }
    &-desc {
        margin-bottom: 50px;
    }
    &-btn {
        width: 250px;
        height: 60px;
        background-color: $red-light;
        color: $white;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
        box-shadow: 0 40px 27px -11px rgb(245 56 56 / 35%);
    }

    &-img {
        position: absolute;
        top: 0;
        right: 83px;
        width: 611.24px;
        height: 382.44px;
    }
}
