.introduce-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px 0;
    position: relative;
    &-content {
        width: 530px;
        margin-right: 40px;
    }
    &-heading {
        margin-bottom: 20px;
    }
    &-img {
        position: absolute;
        top: 0;
        right: 83px;
        width: 611.24px;
        height: 382.44px;
    }
}
