.plan {
    // background-color: $white-darker;
    background-color: aqua;

    &-heading,
    &-desc {
        // text-align: center;
    }
    &-heading {
        padding-top: 80px;
        padding-bottom: 20px;
    }
}
