.plan {
    // background-color: $white-darker;
    background-color: aqua;

    // &-heading,
    // &-desc {
    //     // text-align: center;
    // }
    &-heading {
        display: block;
        width: 383.41px;
        height: 50px;
        padding-top: 80px;
        padding-bottom: 20px;
        text-align: center;
    }
}
