.plan {
    margin-bottom: 100px;
    // background-color: $white-darker;
    background-color: aqua;

    &-heading,
    &-desc {
        text-align: center;
    }
    &-heading {
        padding-top: 80px;
        padding-bottom: 20px;
    }
    &-desc {
        margin-bottom: 60px;
    }

    &-price {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &-list {
            width: 330px;
            height: 760px;
            background-color: $white;
            border: 2px solid #dddddd;
            border-radius: 10px;
        }
        .price-item {
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            // align-items: center;
            // margin-bottom: 10px;

            .img {
                max-width: 100%;
                margin: 80px 93px 30px;
            }
            .item-heading {
                font-size: 18px;
                line-height: 30px;
                font-weight: 500;
                color: $gray-dark;
                margin-bottom: 30px;
            }

            .price-list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }

            .price-item {
                display: flex;
                justify-content: center;
                align-items: center;

                &-icon {
                    margin-right: 20px;
                }
            }
        }
    }
}
