.plan {
    margin-bottom: 100px;
    // background-color: $white-darker;
    background-color: aqua;

    &-heading,
    &-desc {
        text-align: center;
    }
    &-heading {
        padding-top: 80px;
        padding-bottom: 20px;
    }
    &-desc {
        margin-bottom: 60px;
    }

    &-price-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
