.subcribe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: $white-dark;
    position: absolute;
    bottom: -15%;
    left: 150px;
    width: 1140px;
    height: 233px;
    background-color: #ffffff;

    &-text {
        width: 410px;
        height: 116px;
    }

    &-heading {
        width: 371.61px;
        height: 80px;
        margin-bottom: 20px;
        line-height: 45px;
    }

    &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
