.introduce-evaluation {
    height: 200px;
    background-color: $white;
    margin-bottom: 85px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .box-icon {
            margin-right: 36.5px;
        }

        span {
            font-weight: 700;
            font-size: 25px;
            color: $gray-dark;
        }

        p {
            font-size: 20px;
        }
    }

    .box-border::after {
        content: '';
        position: absolute;
        border-left: 2px solid $gray-lighter;
        height: 125.57px;
        top: -50%;
        right: calc(-100% / 3);
    }
}
