.introduce-evaluation {
    height: 200px;
    background-color: $white;
    margin-bottom: 85px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-box {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;

        .box-icon {
            margin-right: 36.5px;
        }

        span {
            font-weight: 700;
            font-size: 25px;
        }
    }
}
